.sec03 {

  margin-top: 90px;
  padding: 0 10px;
  text-align: center;

  @include u-mqMax {
    margin-top: 40px;
    text-align: left;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 3.4rem;

    @include u-mqMax {
      margin-bottom: 30px;
      font-size: 2.4rem;
      line-height: 1.45;
    }
  }

  &__description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.22;

    @include u-mqMax {
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  // remove br tags
  &__sp {
    @include u-mqMax {
      display: none;
    }
  }
}