.sec05 {
  margin: 90px auto 0;
  padding: 0 10px;
  max-width: 1200px;

  @include u-mqMax {
    margin-top: 40px;
  }

  &__newsList {
    margin-bottom: 90px;
    padding: 0;
    list-style: none;

    @include u-mqMax {
      margin-bottom: 45px;
    }
  }

  &__newsTitle {
    margin-bottom: 20px;
    font-size: 2.8rem;

    @include u-mqMax {
      font-size: 2.4rem;
    }
  }

  &__newsItem {
    font-size: 1.8rem;
    line-height: 2.22;

    @include u-mqMax {
      margin-bottom: 34px;
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  &__btn {
    margin-left: auto;

    @include u-mqMax {
      margin: 0 auto;
      font-size: 1.3rem;
    }
  }

}