.sec06 {
  margin: 90px auto 0;
  max-width: 1200px;

  @include u-mqMax {
    margin-top: 40px;
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 33px;
    font-size: 2.8rem;
    text-transform: uppercase;

    @include u-mqMax {
      font-size: 2.4rem;
    }
  }

  &__columnList  {
    margin-bottom: 110px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 37px;
    list-style: none;

    @include u-mqMax {
      margin-bottom: 45px;
      grid-template-columns: 1fr;
      row-gap: 25px;
    }
  }

  &__columnItem {
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start);
  }

  &__columnItemImg {
    margin-right: 17px;
    max-width: 140px;
    max-height: 140px;

    @include u-mqMax {
      max-width: 92px;
      max-height: 92px;
    }
  }

  &__columnText {
    font-size: 1.8rem;
    line-height: 1.8;

    @include u-mqMax {
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  &__btn {
    margin-left: auto;

    @include u-mqMax {
      margin: 0 auto;
      font-size: 1.3rem;
    }
  }
}