.sec07 {
  margin: 90px auto 0;

  @include u-mqMax {
    margin-top: 40px;
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.4rem;

    @include u-mqMax {
      margin-bottom: 27px;
      font-size: 2.4rem;
      line-height: 1.45;
    }
  }

  &__text {
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.22;

    @include u-mqMax {
      margin-bottom: 35px;
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  &__br {
    @include u-mqMax {
      display: none;
    }
  }

  &__contactBtn {
    margin: 0 auto;
    padding: 32px 180px;
    max-width: 638px;
    cursor: pointer;
    
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    background: $orange;
    color: $white; 
    font-size: 2.4rem;
    transition: all .3s ease-out;

    @include u-mqMax {
      margin: 0 auto;
      padding: 20px 0;
      text-align: center;
      font-size: 1.3rem;
    }

    &:hover {
      opacity: .75;
      color: $white; 
      text-decoration: none;
    }
  }

  &__btnImg {
    margin-left: 15px;

    @include u-mqMax {
      max-height: 11px;
    }
  }
}