.sec08 {

  margin: 90px auto 0;
  max-width: 883px;

  @include u-mqMax {
    margin-top: 40px;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;

    @include u-mqMax {
      margin: 0 0 10px 10px;
      font-size: 1.2rem;
    }
  }

  &__mapContainer {
    width: 300px;
  }
  
  &__map {
    border: 0;
    max-width: 100%;
  }

  &__description {
    margin-top: 15px; 
    font-size: 1.8rem;

    @include u-mqMax {
      margin: 15px 0 0 10px;
      font-size: 1.2rem;
    }
  }
}