.sec02 {

  margin-top: -248px;

  @include u-mqMax {
    margin-top: 13px;
    padding: 0 10px;
  }

  
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    color: $white;

    @include u-mqMax {
      flex-direction: column;
      align-items: center;
    }
  }

  &__listItem {
    padding: 47px 0 40px;
    width: 400px;
    text-align: center;
    background: $blue;

    @include u-mqMax {
      padding: 40px 0 32px;
      width: 100%;
    }

    &:nth-child(2) {
      background: $lightBlue;
    }
    &:nth-child(3) {
      background: $lighterBlue;
    }
  }

  &__itemTitle {
    margin: 0;
    font-size: 2.6rem;

    @include u-mqMax {
      font-size: 2rem;
    }
  }

  &__listImg {
    margin: 34px 0 37px;

    @include u-mqMax {
      max-height: 53px;
    }
  }

  &__textListContainer {
    display: flex;
    justify-content: center;
  }

  &__textList {
    padding: 0;
    text-align: left;
    list-style: none;
    max-width: 80%;
  }

  &__textItem {
    font-size: 1.8rem;
    line-height: 1.66;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }
}