-
  let main_menu = [
        {title: "相続のご相談", slug: "home", link: "."},
        {title: "顧問税理士をお探しの方", slug: "顧問税理士をお探しの方", link: "#"},
        {title: "ご依頼の流れ", slug: "ご依頼の流れ", link: "#"},
        {title: "よくあるご質問", slug: "faq", link: "faq"},
        {title: "事務所案内", slug: "事務所案内", link: "#"},
        {title: "お問い合わせ", slug: "お問い合わせ", link: "#"}
      ];

header.siteHeader
        .siteHeader__inner
            .siteHeader__burgerBtn#burger-btn|
              |
              span.siteHeader__line
              |
              |
              span.siteHeader__line
              |
              |
              span.siteHeader__line
            |
            |

            a.siteHeader__logoContainer|
              |
              img.siteHeader__logo(src=`${relativePath}/_assets/images/common/logo.png`, alt="tsutsumi logo")
              |
              |

            .siteHeader__contactContainer|
                |
                img.siteHeader__img(src=`${relativePath}/_assets/images/common/siteHeader_contact.png`, alt="contact")
                .siteHeader__contactBtn.wow.animate__animated.animate__zoomIn(data-wow-duration="1.5s")|
                  |
                  a.siteHeader__contactBtnText まずは無料相談・お問い合わせ
                  img.siteHeader__contactBtnImg(src=`${relativePath}/_assets/images/common/arrow-right_icon.png`, alt="arrow")
                |

            nav.siteHeader__nav
                ul.siteHeader__navList: each item in main_menu
                    li.siteHeader__navItem
                        a.siteHeader__navItemLink(class=(item.slug==currentPage ? "siteHeader__is-current" : ''))(href=`${relativePath}/`+`${item.link}`)= item.title
