-
  let footer_menu = [
        {title: "相続のご相談", slug: "home", link: "."},
        {title: "顧問税理士をお探しの方", slug: "顧問税理士をお探しの方", link: "#"},
        {title: "ご依頼の流れ", slug: "ご依頼の流れ", link: "#"},
        {title: "よくあるご質問", slug: "faq", link: "faq"},
        {title: "事務所案内", slug: "事務所案内", link: "#"},
        {title: "お問い合わせ", slug: "お問い合わせ", link: "#"},
        {title: "プライバシーポリシー", slug: "プライバシーポリシー", link: "#"},
        {title: "コラム", slug: "コラム", link: "#"}
      ];

|
|
footer.siteFooter
    .siteFooter__innerCont
        .siteFooter__toTop.js-toTop.wow.animate__animated.animate__zoomIn(data-wow-duration="1s")
            img.siteFooter__toTopImg(src=`${relativePath}/_assets/images/common/arrow-up_icon.png`, alt="arrow up")
            
        nav.siteFooter__nav
            ul.siteFooter__list: each item in footer_menu
                li.siteFooter__item
                    a.siteFooter__itemLink(class=(item.slug==currentPage ? "siteFooter__is-current" : ''))(href=`${relativePath}/`+`${item.link}`)= item.title
        |
        |
        img.siteFooter__logo(src=`${relativePath}/_assets/images/common/logo.png`, alt="")
        p.siteFooter__contact 〒180-0002　東京都武蔵野市吉祥寺東町1丁目1番18号
            br
            |
            | TEL 0422-21-3611

// Scripts
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
