//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'faq'

//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = true
- const isBootstrap = false
- const isFancybox = true

doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug


    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug


        include ../_inc/_faqPage/_sec01.pug
        include ../_inc/_faqPage/_sec02.pug
        include ../_inc/_faqPage/_sec03.pug

        

        //- FOOTER
        include ../_inc/_siteFooter.pug