//- META INFORMATION
- const page_title = 'Bonnie'
- const relativePath = '.'
- const meta_title = 'Coding Trial (Tsutsumi)'
- const meta_keywords = 'Tsutsumi'
- const meta_description = 'Commude Coding Trial'
- const meta_og_url = 'http://ae15077spm.smartrelease.jp/Bonnie/tsutsumi'
- const currentPage = 'home'

//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = true
- const isBootstrap = false
- const isFancybox = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        { title: 'Title 1', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
        { title: 'Title 2', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
        { title: 'Title 3', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
    ];

    //- KV Slider
    const kvSlider = [
        { image: 'topKVSlide_01.jpg', text: 'Slide 1' },
        { image: 'topKVSlide_02.jpg', text: 'Slide 2' },
        { image: 'topKVSlide_03.jpg', text: 'Slide 3' },
    ];

    //- Custom select
    const countries = [
        { name: 'Australia', value: '0'},
        { name: 'Philippines', value: '1'},
        { name: 'Japan', value: '2'},
        { name: 'Mexico', value: '3'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage
        //- HEADER
        include ./_inc/_siteHeader.pug

        
        include ./_inc/_topPage/_sec01.pug
        include ./_inc/_topPage/_sec02.pug
        include ./_inc/_topPage/_sec03.pug
        include ./_inc/_topPage/_sec04.pug
        include ./_inc/_topPage/_sec05.pug
        include ./_inc/_topPage/_sec06.pug
        include ./_inc/_topPage/_sec07.pug
        include ./_inc/_topPage/_sec08.pug

        //- FOOTER
        include ./_inc/_siteFooter.pug
