/*====================================================================
COMMON LAYOUT
====================================================================*/
html {
  font-size: 62.5%; // 1rem = 10px

  // SP
  @include u-mqMax {
    font-size: calc(10vw / 3.75);
  }
}
body {
  min-width: $contentCenter;
  @include fontFeature;

  // SP
  @include u-mqMax {
    min-width: inherit;
  }
}

/*-----------------------------------------------
PC/SP
------------------------------------------------*/
// PC
.u-pcDb {
  display: block;
}
.u-pcDib {
  display: inline-block;
}
.u-pcDin {
  display: inline;
}
.u-pcDf {
  display: flex;
}
.u-pcDt {
  display: table;
}
.u-pcDtc {
  display: table-cell;
}

.u-spDb,
.u-spDib,
.u-spDin,
.u-spDf,
.u-spDt,
.u-spDtc {
  display: none;
}

// SP
@include u-mqMax {
  .u-pcDb,
  .u-pcDib,
  .u-pcDin,
  .u-pcDf,
  .u-pcDt,
  .u-pcDtc {
    display: none;
  }

  .u-spDb {
    display: block;
  }
  .u-spDib {
    display: inline-block;
  }
  .u-spDin {
    display: inline;
  }
  .u-spDf {
    display: flex;
  }
  .u-spDt {
    display: table;
  }
  .u-spDtc {
    display: table-cell;
  }
}

/*-----------------------------------------------
main
------------------------------------------------*/
.siteContent {
  min-height: calc(100vh - #{$headerHeightPC + $headerHeightPC});
  padding-top: $headerHeightPC;

  // .is_login_user & {
  // }

  @include u-mqMax {
    min-height: calc(100vh - #{$footerHeightSP});
    padding-top: $headerHeightSP;
  }
}

