// Site Header
.siteHeader {
  margin: 23px auto 0;
  max-width: 1200px;

  @include u-mqMax {
    margin: 0;
    height: 65px;
    position: relative;
  }

  // BURGER BUTTON
  &__burgerBtn {
    border:1px solid $blue;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 10px;
    display: none;
    transition: all .5s ease-in-out;
    z-index: 15;
    top: 50%;
    transform: translateY(-50%);

    @include u-mqMax {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__burgerBtn.open {
    border:1px solid $white;
  }

  &__line {
    border-bottom:1px solid $blue;
    width: 68%;
    position: absolute;
    left: 16%;
    transition: all .5s ease-in-out;

    &:nth-child(1) {
      top: 25%;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      top: 75%;
    }
  }

  .open &__line {
    border-bottom:1px solid $white;
    transform: translateY(35px);
    background: transparent;
  }

  .open &__line:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  .open &__line:nth-child(2) {
    opacity: 0;
  }

  .open &__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  &__logo {
    margin-top: 36px;
    width: 283px;

    @include u-mqMax {
      margin: 0 auto;
      width: 160px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // CONTACT
  &__contactContainer {
    float: right;

    @include u-mqMax {
      display: none;
    }
  }
  &__img {
    float: left;
  }
  &__contactBtn {
    margin: 14px 0 0 16px;
    padding: 11px 14px;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);
    float: left;
    background: $orange;
    transition: all .3s ease-out;

    &:hover {
      color: $white;
      opacity: .75;
      cursor: pointer;
    }
  }

  &__contactBtnText {
    margin-right: 12px;
    font-size: 1.9rem;
    letter-spacing: .05rem;
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &__nav {
    margin-top: 20px;
    clear: both;

    @include u-mqMax {
      margin-top: 0;
      width: 100%;
      opacity: 0;
      position: absolute;
      background: $white;
      overflow: hidden;
      transition: all .3s ease-in-out;
      pointer-events: none;
      background: $navBlue;
    }
  }

  .show {
    padding-top: 64px;
    opacity: 1;
    pointer-events: all;
  }

  &__navList {
    float: right;
    list-style: none;

    @include u-mqMax {
      margin-bottom: 15px;
      padding: 0;
      float: none;
      text-align: center;
    }
  }

  &__navItem {
    float: left;

    @include u-mqMax {
      margin: 4px 10px;
      float: none;
    }
  }

  &__navItemLink {
    padding: 15px;
    font-size: 1.4rem;
    color: $blackBrown;
    transition: all .5s ease-out;
    
    @include u-mqMax {
      padding: 10px;
      display: block;
      width: 100%;
      background: $navLightBlue;
      text-align: left;
      font-size: 1.3rem;
      color: $white;
    }

    &:hover {
      text-decoration: none;
      background: $blue;
      color: $white;
    }
  }

  &__is-current {
    text-decoration: none;
    background: $blue;
    color: $white;
  }
}