.button {
    $this: &;
    &-secondary {
        border: none;
        padding: 14px 55px;
        @include u-flex($ai: center);
        background: $grayBtn;
        color: $white; 
        font-size: 2rem;
        transition: all .3s ease-out;

         // for buttons with icon
        #{$this}-secondaryIcon {
            margin-left: 15px;
            transition: transform 0.3s ease-out;
            
            
            @include u-mqMax {
            margin-left: 9px;
            max-height: 11px;
            }
        }

        &:hover {
            opacity: .75;
        }

        &:hover > #{$this}-secondaryIcon {
        transform: translateX(6px)
        }
    }
}