/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  margin: 114px 0 0;
  padding: 90px 0;
  background-color: $lightBlueFooter;

  @include u-mqMax {
    margin-top: 80px;
    padding: 0 0 35px;
  }

  &__innerCont {
    margin: 0 auto;
    padding: 0 58px;
    max-width: 1200px;
    position: relative;
    text-align: center;

    @include u-mqMax {
      padding: 0;
    }
  }

  &__toTop {
    padding: 16px;
    max-width: 1200px;
    position: absolute;
    top: -170px;
    right: 0px;
    background: $grayBtn;
    cursor: pointer;
    transition: all .3s ease-out;

    @include u-mqMax {
      padding: 15px;
      top: -55px;
      right: 10px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &__toTopImg {
    max-width: 17px;

    @include u-mqMax {
      max-width: 15px;
    }
  }

  &__list {
    margin-bottom: 95px;
    padding: 0;
    @include u-flex($jc: space-between);
    list-style: none;

    @include u-mqMax {
      margin-bottom: 30px;
      display: block;
      text-align: left;
    }
  }

  &__item {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease-out;

    @include u-mqMax {
      border: 1px solid $grayFooterBorder;
      padding: 14px 10px;
      background: $blue;
      font-size: 1.3rem;
      color: $white;
    }
    
  }

  &__itemLink {
    color: $blackFont;

    &:hover {
      color: $blackFont;
      opacity: .75;
    }

    @include u-mqMax {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &__logo {
    margin-bottom: 18px;
    max-width: 283px;

    @include u-mqMax {
      margin-bottom: 16px;
      max-width: 160px;
    }
  }

  &__contact {
    font-size: 1.5rem;
    line-height: 1.6;

    @include u-mqMax {
      margin: 0 22px;
      font-size: 1rem;
      line-height: 1.8;
    }
  }
}
