.faqSec01 {
  background: $blue;
  clear: both;

  &__container {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__title {
    margin:0;
    padding: 65px 0;
    font-size: 3.6rem;
    color: $white;
    
    @include u-mqMax {
      padding: 35px 0;
      text-align: center;
      font-size: 2rem;
    }
  }
}