.faqSec02 {

  &__container {
    margin: 45px auto 0;
    max-width: 1200px;

    @include u-mqMax {
      margin-top: 30px;
      padding: 0 10px;
    }
  }

  &__breadcrumb {
    margin-bottom: 35px;
    padding-left: 0;
    @include u-flex;
    font-size: 1.8rem;
    list-style-type: none;

    @include u-mqMax {
      margin-bottom: 25px;
      font-size: 1.2rem
    }
  }

  &__breadcrumbItem:nth-child(1) {
    
    &:after {
      padding: 45px;
      content: '＞';
    }
  }

  &__breadcrumbLink {
    color: $lightBlue;

    &:hover {
      color: $faqLightBlue;
    }
  }

  &__btns {
    @include u-flex($fd: row);

    @include u-mqMax {
      @include u-flex($fd: column);
    }
  }

  &__btn {
    padding: 30px 0;
    width: 100%;
    background: $faqLightBlue;
    text-align: center;
    color: $white;
    font-size: 2.8rem;
    transition: all .3s ease-out;

    &:hover {
      background: $blue;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }

    @include u-mqMax {
      padding: 15px 0;
      font-size: 1.4rem;
    }

    &:nth-child(1) {
      margin-right: 35px;

      @include u-mqMax {
        margin-bottom: 24px;
      }
    }
  }
}