.faqSec03 {

  &__container {
    margin: 70px auto 130px;
    max-width: 1200px;

    @include u-mqMax {
      margin: 70px auto 130px;
    }
  }

  &__faq {
    &:nth-child(2) {
      margin-top: 110px;

      @include u-mqMax {
        margin-top: 58px;
      }
    }
  }

  &__title {
    padding: 17px 0 17px 17px;
    background: $blue;
    font-size: 2.4rem;
    color: $white;

    @include u-mqMax {
      font-size: 1.4rem;
    }
  }

  &__qaList {
    padding: 0;
    list-style: none;
  }

  &__qaItem {
    padding: 35px 0;
    padding-left: 85px;
    position: relative;

    &:nth-child(odd) {
      &:before {
        content: url('../images/faq/sectionPage_icon_q.png');
        position: absolute;
        top: 15px;
        left: 7px;

        @include u-mqMax {
          left: 16px;
        }
      }
    }

    &:nth-child(even) {
      background: $pink;

      &:before {
        content: url('../images/faq/sectionPage_icon_a.png');
        position: absolute;
        top: 15px;
        left: 7px;

        @include u-mqMax {
          left: 16px;
        }
      }
    }
  }

  &__qaItemText {
    font-size: 1.8rem;
    line-height: 2.22;

    @include u-mqMax {
      margin: 0 10px;
      font-size: 1.2rem;
      line-height: 2;
    }
  }
}