section.faqSec02
  .faqSec02__container
    ul.faqSec02__breadcrumb 
      li.faqSec02__breadcrumbItem
        a.faqSec02__breadcrumbLink(href=`${relativePath}/`+`.`) トップ
      li.faqSec02_breadcrumbItem よくある質問
    .faqSec02__btns
      a.faqSec02__btn.wow.animate__animated.animate__zoomIn(data-wow-duration="1.5s")(href="#faqList-01") 相続税について
      a.faqSec02__btn.wow.animate__animated.animate__zoomIn(data-wow-duration="1.5s" data-wow-delay=".5s")(href="#faqList-02") 顧問契約について