section.faqSec03
  .faqSec03__container

    .faqSec03__faq#faqList-01
      h1.faqSec03__title 相続税について

      ul.faqSec03__qaList
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s")
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。
            br
            | テキストテキストテキストテキストテテキストテキストキスト。
            br
            | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキスト。
            br
            | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。
            br
            | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。
            br
            | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト
            br
            | テキストテキストキストテキストテキストテキストテキストキスト。
            br
            | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）
      
    .faqSec03__faq#faqList-02
      h1.faqSec03__title 相続税について

      ul.faqSec03__qaList
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s")
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。
            br
            | テキストテキストテキストテキストテテキストテキストキスト。
            br
            | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキスト。
            br
            | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。
            br
            | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。
            br
            | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
        li.faqSec03__qaItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 
          p.faqSec03__qaItemText 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト
            br
            | テキストテキストキストテキストテキストテキストテキストキスト。
            br
            | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）