|
|
section.sec01

    .swiper-container
        .swiper-wrapper|
            |
            img.swiper-slide(src=`${relativePath}/_assets/images/topPage/topPageSec01_item-01.png`, alt="businessman")
            |
            |
            img.swiper-slide(src=`${relativePath}/_assets/images/topPage/topPageSec01_item-01.png`, alt="businessman")