|
|
section.sec07 
  h2.sec07__title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 豊富な法律知識と実績から最善の解決方法をご提案します
  p.sec07__text.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") 税理士は各種税金・税務申告に関する問題をはじめ、
    br.sec07__br
    |
    | 会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。
    br.sec07__br
    |
    | 相続問題、独立・起業をお考えの方へのサポート、法人・個人事業主様の税務申告・
    br.sec07__br
    |
    | 会計業務と経営支援を業務の中心として取り組んでおります。
    br.sec07__br
    |
    | フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。
    br.sec07__br
    |  
    | 一人で悩まず、まずはご相談下さい
  |
  |

  a.sec07__contactBtn.wow.animate__animated.animate__pulse(data-wow-duration="1s" data-wow-iteration="infinite") お問い合わせはこちら
    |
    |
    img.sec07__btnImg(src=`${relativePath}/_assets/images/common/arrow-right_icon.png`, alt="arrow")