|
|
section.sec06
  h2.sec06__title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") column
  ul.sec06__columnList 
    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".1s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-01.png`, alt="table")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。

    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".2s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-02.png`, alt="books")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
    
    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".3s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-03.png`, alt="person holding documents")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
    
    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".4s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-04.png`, alt="person writing")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。

    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-05.png`, alt="keyboard and pen")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。

    li.sec06__columnItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s" data-wow-delay=".6s")|
      |
      img.sec06__columnItemImg(src=`${relativePath}/_assets/images/topPage/topPageSec06_item-06.png`, alt="building glass")
      p.sec06__columnText 2016.05.20
        br
        | 原稿はダミーです。テキストテキストテキストテキストキストテキスト。

  button.sec06__btn.button-secondary.wow.animate__animated.animate__zoomIn(data-wow-duration="1s") もっと見る|
    |
    img.button-secondaryIcon(src=`${relativePath}/_assets/images/common/arrow-right_icon.png`, alt="arrow")
