|
|
section.sec02
  ul.sec02__list 
    li.sec02__listItem.wow.animate__animated.animate__fadeInLeft(data-wow-duration="1.5s")
      h3.sec02__itemTitle 相続税のお悩み
      img.sec02__listImg(src=`${relativePath}/_assets/images/topPage/topPageSec02_icon-01.png`, alt="icon-01")
      .sec02__textListContainer
        ul.sec02__textList
          li.sec02__textItem ・どのくらいの税額？
          li.sec02__textItem ・売却したい
          li.sec02__textItem ・料金について
    li.sec02__listItem.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.5s")
      h3.sec02__itemTitle 顧問契約
      |
      |
      img.sec02__listImg(src=`${relativePath}/_assets/images/topPage/topPageSec02_icon-02.png`, alt="icon-02")
      .sec02__textListContainer
        ul.sec02__textList
          li.sec02__textItem ・個人→法人化する
          li.sec02__textItem ・経営に関する税務をサポート
    li.sec02__listItem.wow.animate__animated.animate__fadeInRight(data-wow-duration="1.5s")
      h3.sec02__itemTitle よくあるご質問
      |
      |
      img.sec02__listImg(src=`${relativePath}/_assets/images/topPage/topPageSec02_icon-03.png`, alt="icon-03")
      .sec02__textListContainer
        ul.sec02__textList
          li.sec02__textItem ・原稿はダミーです。
          li.sec02__textItem ・ダミーですダミーです。
          li.sec02__textItem ・ダミーです。