|
|
section.sec05
  .sec05__news
    h1.sec05__newsTitle.wow.animate__animated.animate__fadeInUp(data-wow-duration="1s") NEWS
    ul.sec05__newsList
      li.sec05__newsItem.wow.animate__animated.animate__fadeInRight(data-wow-duration="1s" data-wow-delay=".2s")
        | 2016.05.20　原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
      li.sec05__newsItem.wow.animate__animated.animate__fadeInRight(data-wow-duration="1s" data-wow-delay=".3s")
        | 2016.05.20　テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ原稿はダミーです。
      li.sec05__newsItem.wow.animate__animated.animate__fadeInRight(data-wow-duration="1s" data-wow-delay=".4s")
        | 2016.05.20　テキストテキストテキストテキストテキストテキストテキ原稿はダミーです。
    button.sec05__btn.button-secondary.wow.animate__animated.animate__zoomIn(data-wow-duration="1s") もっと見る
      img.button-secondaryIcon(src=`${relativePath}/_assets/images/common/arrow-right_icon.png`, alt="arrow")