|
|
section.sec04
  img.sec04__img.wow.animate__animated.animate__fadeInLeft(data-wow-duration="2s").u-pcDb(src=`${relativePath}/_assets/images/topPage/topPageSec04_bg-pc.png`, alt="two people meeting")
  img.sec04__img.wow.animate__animated.animate__fadeInLeft(data-wow-duration="2s").u-spDb(src=`${relativePath}/_assets/images/topPage/topPageSec04_bg-sp.png`, alt="two people meeting")