// color
$white: #fff;
$black: #222;
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;

$grayFooterBorder: #B7B7B7;
$lightBlueFooter: #E6EBEE;
$blackFont: #231815;
$grayBtn: #727171;
$orange: #E39300;
$blue: #00437C;
$lightBlue: #005CA2;
$lighterBlue: #0075B6;

// faq
$faqLightBlue: #4C8DCB;
$pink: #FDEEED;

$navBlue: #00244f;
$navLightBlue: #335072;

$blackBrown: #231815;

$activeRed: pink;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;

$mobile: 375px;

// header height
$headerHeightPC: 118px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
